[DEFAULT]

bind_ip = {{ ansible_facts[net['management_interface']]['ipv4']['address'] }}
bind_port = 6200
workers = 3
user = swift
swift_dir = /etc/swift
devices = /srv/node
mount_check = false

[pipeline:main]

pipeline = healthcheck recon object-server

[app:object-server]

use = egg:swift#object

[filter:healthcheck]

use = egg:swift#healthcheck

[filter:recon]

use = egg:swift#recon
recon_cache_path = /var/cache/swift
recon_lock_path = /var/lock

[object-replicator]

concurrency = 4

[object-reconstructor]

[object-updater]

concurrency = 4

[object-auditor]

[object-expirer]

[filter:xprofile]

use = egg:swift#xprofile

[object-relinker]
