[DEFAULT]

bind_port = 8080
user = swift
swift_dir = /etc/swift

[pipeline:main]

pipeline = catch_errors gatekeeper healthcheck proxy-logging cache container_sync bulk ratelimit authtoken keystoneauth container-quotas account-quotas slo dlo versioned_writes proxy-logging proxy-server

[app:proxy-server]

use = egg:swift#proxy
account_autocreate = True

[filter:keystoneauth]

use = egg:swift#keystoneauth
operator_roles = admin,user

[filter:authtoken]

paste.filter_factory = keystonemiddleware.auth_token:filter_factory
www_authenticate_uri = http://{{ net['controller']['hostname'] }}:5000
auth_url = http://{{ net['controller']['hostname'] }}:5000
memcached_servers = {{ net['controller']['hostname'] }}:11211
auth_type = password
project_domain_id = default
user_domain_id = default
project_name = service
username = swift
password = {{ swift['user'] }}
delay_auth_decision = True

[filter:cache]

use = egg:swift#memcache
memcache_servers = {{ net['controller']['hostname'] }}:11211

[filter:catch_errors]

use = egg:swift#catch_errors

[filter:gatekeeper]

use = egg:swift#gatekeeper

[filter:healthcheck]

use = egg:swift#healthcheck

[filter:proxy-logging]

use = egg:swift#proxy_logging

[filter:container_sync]

use = egg:swift#container_sync

[filter:bulk]

use = egg:swift#bulk

[filter:ratelimit]

use = egg:swift#ratelimit

[filter:container-quotas]

use = egg:swift#container_quotas

[filter:account-quotas]

use = egg:swift#account_quotas

[filter:slo]

use = egg:swift#slo

[filter:dlo]

use = egg:swift#dlo

[filter:versioned_writes]

use = egg:swift#versioned_writes