[database]

connection = mysql+pymysql://glance:{{ glance['db'] }}@{{ net['controller']['hostname'] }}/glance

[glance_store]

stores = file,http
default_store = file
filesystem_store_datadir = /var/lib/glance/images

[keystone_authtoken]

www_authenticate_uri  = http://{{ net['controller']['hostname'] }}:5000
auth_url = http://{{ net['controller']['hostname'] }}:5000
memcached_servers = {{ net['controller']['hostname'] }}:11211
auth_type = password
project_domain_name = Default
user_domain_name = Default
project_name = service
username = glance
password = {{ glance['user'] }}

[paste_deploy]

flavor = keystone
